<!DOCTYPE html>
<html lang="en">
<head>
<title>Register</title>
<style>
body {
    
    background-image:url('D:/dmdw/CollobrationFrontEnd/src/main/webapp/Images/backround.jpg') ;
    background-repeat:no-repeat;
   background-size:cover;
}

.g1{
padding:3px 0;

background-color:rgb(180, 100, 200);
}
.c1
{
color:white;
}

</style>
  </head>
<body >

<div class="container" ng-controller="UserController as ctrl">
<div ng-show='ctrl.user.errormessage!=""'>
<div class="alert alert-danger">
error:{{ctrl.user.errormessage}}
</div>
</div>

  <h2>Register here</h2>
  <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
  <div class="form-group g1">
      <label class="control-label c1 col-sm-2" >Name:</label>
      <div class="col-sm-10">
        <input ng-model="ctrl.user.name" type="text" class="form-control "  placeholder="Enter Name" required>
      </div>
    </div>
    <div class="form-group g1">
      <label class="control-label c1 col-sm-2" >UserName:</label>
      <div class="col-sm-10">
        <input ng-model="ctrl.user.user_id" type="text" class="form-control "  placeholder="Enter UserName" required>
      </div>
    </div>
    <div class="form-group g1">
      <label class="control-label c1 col-sm-2" >Password:</label>
      <div class="col-sm-10">          
        <input ng-model="ctrl.user.password" type="password" class="form-control"  placeholder="Enter password" required>
      </div>
    </div>
    <div class="form-group g1">
      <label class="control-label c1 col-sm-2">Email:</label>
      <div class="col-sm-10">
        <input ng-model="ctrl.user.email" type="email" class="form-control"  placeholder="Enter Email" required>
      </div>
    </div>
    <div class="form-group g1">
      <label class="control-label c1 col-sm-2">Mobile_no:</label>
      <div class="col-sm-10">
        <input ng-model="ctrl.user.mobile_no" type="text" class="form-control"  placeholder="Enter mobile_no" required>
      </div>
    </div>
     <div class="form-group g1">
      <label class="control-label  c1 col-sm-2" >Address:</label>
      <div class="col-sm-10">
        <input  ng-model="ctrl.user.address" type="text" class="form-control"  placeholder="Enter address" required>
      </div>
      </div>
      <div class="form-group g1">
      <label class="control-label c1 col-sm-2" >Gender:</label>
      <div class="col-sm-10">
      
       <select ng-model="ctrl.user.gender" class="form-control">
        <option>Female</option>
        <option>Male</option>
      </select> 
      </div>
      </div>
      <div class="form-group g1">
      <label class="control-label c1 col-sm-2" >Role:</label>
      <div class="col-sm-10">
        <select ng-model="ctrl.user.role" class="form-control">
        <option>student</option>
        <option>Alumni</option>
        <option>Employee</option>
      </select>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary" type="submit" >Submit</button>
        <button  class="btn btn-success" ng-click="ctrl.reset()" type="submit" >Reset</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>
